<!DOCTYPE html>
<html>
    <head>
        <meta property="og:title" content="<%= name %>" />
        <meta property="og:description" content="<%= description %>" />
        <meta property="og:image" content="<%= logo %>" />
        <!-- etc. -->
   </head>
   <body>
       <h1><%= name %></h1> 
       <p><%= description %></p>
       <img src="<%= logo %>">
   </body>
</html>